<header>
  <nav>
    <ul
      class="flex justify-between text-drab items-center mt-8 pb-6 border-b border-border"
    >
      <li class="mx-8">
        <a href="">
          <i class="fas fa-inbox"></i>
        </a>
      </li>
      <li class="text-lg text-drab font-extrabold font-mainFont">Newsbox</li>
      <li class="mx-8">
        <a href="">
          <i class="fas fa-cog"></i>
        </a>
      </li>
    </ul>
  </nav>

  <!-- FORM -->
  <form class="border-b p-4">
    <div class="relative">
      <i  class="fas fa-search absolute text-fossil top-t1 right-r1"></i>
      <input
        id="searchBar"
        type="text"
        placeholder="Search news"
        class="border bg-ice py-3 placeholder-slate pl-8 text-sm w-full"
      />
    </div>
  </form>
</header>
