<header>
    <nav>
      <ul
        class="flex text-drab items-center mt-8 pb-6 border-b border-border"
      >
        <li class="mx-8">
          <a href="">
            <i class="fas fa-chevron-left"></i>
          </a>
        </li>
        <li class="text-lg ml-settingLeft items-center text-center text-drab font-extrabold font-mainFont">News settings</li>
      </ul>

  </header>
  