<li class="list-none flex items-center py-4 border-b border-ice w-full">
  <img
    src="/assets/images/image_21.png"
    alt="article image"
    class="w-18 h-18 mx-5"
  />

  <div class="w-articleWidth">
    <h3 class="font-mainFont text-base text-drab2 text-textSize">Headline</h3>
    <p class="text-sm text-slate">
      Surfing is a surface water sport in which the wave rider, referred to
      as...
    </p>
  </div>
</li>
