<ul>
  <li>
    <div
      class="flex font-mainFont text-drab border-b border-ice px-4 py-3 items-center"
    >
      <div
        class="border-2 border-white rounded-circle w-10 h-10 relative shadow-shade"
      >
        <img
          src="/assets/images/icn_surfing.svg"
          alt="icon"
          class="absolute top-quarter left-quarter"
        />
      </div>
      <h2 class="ml-3 text-sm uppercase">Health</h2>
      <i class="fas fa-chevron-down ml-auto text-xl font-hairline"></i>
    </div>
  </li>
</ul>
