<ul class="my-12 mx-6 bg-white rounded-cat ">
    <li class="border-b pt-1 flex items-center justify-between px-4">
        <h4 class=" py-4 font-bold">Health</h4>
        <div class="w-12 h-8 bg-sage rounded-full relative">
            <div class="w-6 h-6 absolute border-black bg-white top-sm
            rounded-circle left-sm z-50 shadow-settingShadow "></div>
        </div>
    </li>
    <li class="border-b w-full">
        <h4>Health</h4>
        <div>
            <div></div>
        </div>
    </li>
</ul>