<%- include('../partials/head.ejs')%> 
<title>Setting</title>
<%-include('../partials/after-head.ejs')%> 
<%- include('../partials/settings-nav.ejs')%>
<main class="bg-gray-300 w-full h-screen font-mainFont">
<div class="text-center py-8">
    <h2 class="text-3xl text-sage">Manage</h2>
    <h3>Categories</h3>
    <button class="border border-fossil cursor-pointer rounded-btn font-light
    p-4">Toggle Dark mode</button>
    <p class="text-messageStamp font-light mt-8">Version 4.8.15.16.23.42</p>
</div>
<%- include('../components/settings-category.ejs')%>   
</main>
